<launch>
    <!-- STRETCH DRIVER NAVIGATION -->
    <arg name="map_yaml" default="/home/hello-robot/stretch_user/maps/stretch_taped_workspace.yaml"
               doc="filepath to previously captured map (required)" />
    <arg name="rviz"     default="true" doc="whether to show Rviz" />
    
    <include file="$(find stretch_navigation)/launch/vz_navigation.launch" pass_all_args="true" />
    <include file="$(find stretch_navigation)/launch/user_navigation.launch" />

    <!-- STRECH CAMERA ARUCO DRIVERS -->
    <include file="$(find stretch_core)/launch/d435i_high_resolution.launch" />
    <include file="$(find stretch_core)/launch/stretch_aruco.launch" />
    
    <!-- NATNET NODE FOR OPTITRACK -->
    <include file="$(find natnet_ros_cpp)/launch/natnet_ros.launch"/>
    
    <node pkg="tf2_ros" type="static_transform_publisher" name="world_to_original_stretch_head" output="screen" 
            args="-0.624 -0.923 1.448 -0.001 0.005 -0.009 1.000 world original_stretch_head"/>

    <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_original_stretch_head" output="screen"
                args="0 0 -1.448 0 0 0 1 original_stretch_head map"/>

    <node pkg="tf2_ros" type="static_transform_publisher" name="link_head_to_static_camera" output="screen"
            args="0.14 0.1 -0.1 0 0 0 1 link_head static_camera_link"/>

    <node pkg="tf2_ros" type="static_transform_publisher" name="optitrack_to_center_table" output="screen"
            args="0 0 0 1 0 0 0 optitrack_table center_table"/>
    <!-- <node pkg="stretch_putaway" type="localize_odom" name="localize_odom" output="screen" /> -->

    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="aruco_marker_to_detected_marker" output="screen" 
            args="0 0 0 0 0.0 0 1 aruco_table aruco_detected_table"/> -->

    <!-- STRETCH PUTAWAY NODE-->
    <node pkg="stretch_putaway" type="spawn_object_transforms.py" name="spawn_object_transforms" output="screen" />
    
</launch>